body {
    background-image: url("img/background-template.jpg") !important;
}

.paddingPX {
    padding-top: 100px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: #fff;
}

.page-footer a {
    color: #fff
}

#info {
    margin: 50px 100px 0px 100px;
    text-align: center;
}


#cardID {
    background-color: #ffffffb0;
    margin-top:30px;
}
